<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblScheduleMapper">
    
    <resultMap type="com.ruoyi.system.domain.TblSchedule" id="TblScheduleResult">
        <result property="id"    column="id"    />
        <result property="doctorId"    column="doctor_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="parentId"    column="parent_id"    />
        <result property="day"    column="day"    />
        <result property="week"    column="week"    />
        <result property="month"    column="month"    />
        <result property="year"    column="year"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTblScheduleVo">
        select id, doctor_id, start_time, end_time, parent_id, day, week, month, year,status, create_by, create_time, update_by, update_time from tbl_schedule
    </sql>

    <select id="selectTblScheduleList" parameterType="com.ruoyi.system.domain.TblSchedule" resultMap="TblScheduleResult">
        <include refid="selectTblScheduleVo"/>
        <where>  
            <if test="doctorId != null "> and doctor_id = #{doctorId}</if>
            <if test="startTime != null  and startTime != ''"> and start_time = #{startTime}</if>
            <if test="endTime != null  and endTime != ''"> and end_time = #{endTime}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="day != null "> and day = #{day}</if>
            <if test="week != null "> and week = #{week}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="year != null "> and year = #{year}</if>
        </where>
    </select>
    
    <select id="selectTblScheduleById" parameterType="Long" resultMap="TblScheduleResult">
        <include refid="selectTblScheduleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTblSchedule" parameterType="com.ruoyi.system.domain.TblSchedule" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorId != null">doctor_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="day != null">day,</if>
            <if test="week != null">week,</if>
            <if test="month != null">month,</if>
            <if test="year != null">year,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorId != null">#{doctorId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="day != null">#{day},</if>
            <if test="week != null">#{week},</if>
            <if test="month != null">#{month},</if>
            <if test="year != null">#{year},</if>
            <if test="createBy != null">#{createBy},</if>
            NOW(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status,jdbcType=INTEGER}</if>
         </trim>
    </insert>

    <update id="updateTblSchedule" parameterType="com.ruoyi.system.domain.TblSchedule">
        update tbl_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="day != null">day = #{day},</if>
            <if test="week != null">week = #{week},</if>
            <if test="month != null">month = #{month},</if>
            <if test="year != null">year = #{year},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status=#{status,jdbcType=INTEGER}</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblScheduleById" parameterType="Long">
        delete from tbl_schedule where id = #{id}
    </delete>

    <delete id="deleteTblScheduleByIds" parameterType="String">
        delete from tbl_schedule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>